/*****************************************************************************/
/* Author:Sanmao Wang
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  color: #3F8E77;
  text-decoration: none;
  border:none;
}

a:hover {
  color: black;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

img, img a{
  border:none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 48em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.logo{
  float:right;
  width:60px;
  height: 60px;
  display: block;
}

.nav {
  color: #aaa;
  font-weight: bold;
  margin-bottom: 4em;
  padding-top: 2em;
}

ul.nav li{
  list-style: none;
  display: line-block;
  float:left;
  margin-right:20px;
}
  .site .nav a {
    color: #aaa;
    text-decoration: none;
  }

  .site .nav a:hover {
    color: black;
  }

  .site .nav a.active {
    color: #3F8E77;
    text-decoration: none;
  }

  .site .nav a.active:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    padding-top: 1em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

  #related {
    margin-top: 2em;
  }

  #related h2 {
    margin-bottom: 1em;
  }

  #photo{
    float: left;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 10px;
  }